<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sys.eblog.moudles.web.dao.ArtCommentDao">
    <select id="getArtComments" resultType="ArtComment" parameterType="String">
		select a.aid,a.content,a.userid,a.adddate,
		concat('/static/images/',FLOOR(RAND() * 12),'.jpg') as simg
		from artcomment a where a.delflg=0 and a.aid=#{aid}
	</select>
	<update id="artCommentsDel" parameterType="ArtComment">
		update artcomment set update = now(),delflg=1
		where acid = #{acid}
	</update>
	<insert id="artCommentAdd" parameterType="ArtComment">
		insert into artcomment (aid, content, adddate, upddate, delflg)
		values (#{aid},#{content},now(),now(),0)
	</insert>
</mapper>