<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body th:fragment="header">
<style>
    input::-webkit-input-placeholder {
        /* placeholder颜色  */
        color: #aab2bd;
        /* placeholder字体大小  */
        font-size: 12px;
        /* placeholder位置  */
        text-align: left;
    }
</style>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="/index">EBlog</a>
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse navbar-toggleable-sm justify-content-start"
         style="margin-left: 4rem"
         id="collapsibleNavbar">
        <div class="nav navbar-nav">
            <form class="form-inline">
                <input class="form-control"
                       style="box-shadow: none;padding: 0.3rem;height: calc(1.0em + .75rem + 0px)" type="text"
                       placeholder="输入搜索内容">
                <button class="btn btn-primary btn-sm" style="margin-left: 1rem;text-align: center;height: calc(1.0em + .75rem + 2px)"  type="button">&nbsp;&nbsp;搜索&nbsp;&nbsp;</button>
            </form>
        </div>
    </div>
        <div class="nav navbar-nav justify-content-center text-white"
             style="margin-right: 2rem;margin-top: 0.3rem">
            <a href="/login">登录/注册</a>
        </div>
</nav>
</body>