<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>E-blog-热门</title>

</head>
<body>
<div  th:fragment="hotart" >
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"crossorigin="anonymous"></script>
<style>
    #hotart_body a{

    }
    .ddcc{
        margin-left: 30px;
    }
    .h5, h5 {
        font-size: 1rem;
    }
    .card{
        margin-bottom: 0.9rem;
    }
</style>
    <div class="card">
        <div class="card-header bg-dark text-white">热门阅读排行</div>
        <div class="card-body" id="hotart_body">

        </div>
    </div>
    <script>
        var hotart = {
            jump:function(){
               $.ajax({
                   url:'/web/hotlist',
                   method:'GET',
                   type:'json',
                   success:function (res) {
                       var ht = '';
                       var data = res.data ;
                       console.log(data)
                       $.each(data,function (index,item) {
                           let s = '<p><a href="/web/detail/'+item.aid+'">'+item.title+'</a><span class="badge ddcc badge-secondary">'+item.reads+'</span></p>';
                           ht = ht+s;
                       })
                       $("#hotart_body").html(ht);
                   }
               })
            }
        }
        hotart.jump();
    </script>
</div>
</body>
</html>