<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>E-blog-热门</title>

</head>
<body>
<div  th:fragment="hotart" >
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"crossorigin="anonymous"></script>

    <div class="card">
        <div class="card-header bg-dark text-white">热门阅读排行</div>
        <div class="card-body" id="hotart_body">
        </div>
    </div>
    <script>
        var hotart = {
            jump:function(){
               $.ajax({
                   url:'/test',
                   method:'GET',
                   type:'json',
                   success:function (data) {
                       var ht = '';
                       $.each(data,function (index,item) {
                           let s = '<p>'+item.User+'</p>';
                           ht = ht+s;
                           console.log(item)
                       })
                       $("#hotart_body").html(ht);
                   }
               })
            }
        }
        hotart.jump();
    </script>
</div>
</body>
</html>